@page
@model POS_Folders.Repository.CustomerRepository
@inject POS_Folders.Repository.ICustomerRepository icustomerrepository
@{
    ViewData["Title"] = "Customer";
}
<h1>Customer</h1>
<div class="Text-Block">
        <p>Customer information</p>
        @{
            var customer = icustomerrepository.getCustomerByEmail("QuangHo@gmail.com");
        }
        <p>Customer ID: @customer.customer_id</p>
        <p>Customer First Name: @customer.first_name</p>
        <p>Customer Last Name: @customer.last_name</p>
        <p>Customer Email: @customer.customer_email</p>
        <p>Customer Password: @customer.customer_password</p>


</div>