@page
@model CoffeeShopWebsite.Pages.CRUDFramework.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerModel.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerModel.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerModel.CustomerAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerModel.CustomerAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerModel.CustomerPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerModel.CustomerPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerModel.CustomerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerModel.CustomerEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerModel.CustomerGender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerModel.CustomerGender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerModel.CustomerDOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerModel.CustomerDOB)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomerModel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
