@page
@model CoffeeShopWebsite.Pages.CRUDFramework.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerModel[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerModel[0].CustomerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerModel[0].CustomerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerModel[0].CustomerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerModel[0].CustomerGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerModel[0].CustomerDOB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CustomerModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDOB)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
